@import "tailwindcss";

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  position: relative;
}

::selection {
  background-color: #000000;
  color: #fff;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@keyframes pendulum {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-2deg);
  }
}

.animate-pendulum {
  transform-origin: top right;
  animation: pendulum 0.8s ease-in-out forwards infinite;
}

@keyframes pull {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-4deg);
  }
}

.animate-pull {
  transform-origin: bottom center;
  animation: pull 0.7s ease-in-out infinite;
}

.shimmer {
  background: linear-gradient(
    110deg,
    currentColor 40%,
    #a8a29e 50%,
    currentColor 60%
  );
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 2.5s linear infinite;
}

.shimmer-paused {
  animation-play-state: paused;
}

@keyframes shimmer {
  to {
    background-position: -200% 0;
  }
}
